
.control {
  color: var(--mantine-color-text);
  border: 1px solid var(--mantine-color-button-border);
  background-color: var(--mantine-color-button-fade);
  backdrop-filter: blur(5px);
  opacity: 0.8;
}

.indicator {
  color: var(--mantine-color-text);
  border: 1px solid var(--mantine-color-button-border);
  background-color: var(--mantine-color-button-fade);
  backdrop-filter: blur(5px);
  opacity: 0.8;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.indicators {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}

.root {
  &:hover {
    .indicators {
      opacity: 1;
    }
  }
}

/* .title {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
  cursor: default;
} */